@font-face {
  font-family: 'Poiret One', cursive;
  src: url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poiret+One&display=swap')
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-VQPOIkaKao0%2FUU9OSNSIs0I%2FAAAAAAAAILo%2FZ1OIrj_LOFE%2Fs1600%2Fearth-tones-by-ibjennyjenny-rust.jpg&f=1&nofb=1');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;

}
header{
  height: 10em;
}
nav{
  background-color: rgb(219, 177, 126, 0.6);
  margin-bottom: 1em;
  height: 2em;
  font-family: 'Poiret One';
}
h1,h2,h3{
  font-family: 'Poiret One';

}
.nav{
  text-decoration: none;
  margin: 1em;
  font-size: large;
  color: rgb(27, 29, 28, 0.8);
}
.nav:hover{
  transform: scale(2.2);
}
.material-icons{
  font-size: 2em;
  position: absolute;
  top: 0.09em;
  right: 0.09em;
  cursor: pointer;
  text-decoration: none;
}
.thumbnail-img{
  max-height:10em;
  max-width: 10em;
  border-radius:.9em ;
  margin: 1em;

}
.thumbnail-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .2em;

}
.randall{
  border-radius: 50%;
  max-height: 5em;
}
.card{
  display: flex;
  justify-content: center;
  margin: 1.2em;
  background-color: rgba(12, 11, 10, 0.2);
  border-radius: .9em;
  margin: .5em;
  cursor: pointer;
  padding: .5em;
}
.card:hover{
  transform: scale(1.02);
  background-color: rgba(12, 11, 10, 0.4);


}
::placeholder{
  position:absolute;
  color: rgb(185, 216, 189);
}

input{
  margin: .5em;
  border-radius: .2em;
  background-color: rgba(12, 11, 10, 0.2);
}

form{
  background-color: rgba(12, 11, 10, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
  border-radius: .9em;
}
footer{
  position: fixed;
  bottom: 0ex;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(3, 109, 38, 0.4);
  grid-column-gap: .5em;
  width: 100vw;
  }

button{
  width: 5em;
  align-self: center;
  background-color: rgba(12, 11, 10, 0.2);
}
button:hover{
  background-color: rgba(12, 11, 10, 0.4);
}
.delete-button{
  width: 100%;
  margin: .5em;
  background-color: rgb(255, 0, 0,0.3);
}
.welcome{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 30%;
}
.landing-img{
  max-height: 25%;
  width: auto;
  margin: 1em;
  border-radius: .9em;
}
.intro{
  background-color: rgba(12, 11, 10, 0.2);
  max-height: 30%;
}
.register{
  display: flex;
  justify-content: center;
}